* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    padding: 100px;
}

p {
    font-size: 19px;
}

.about-line {
    width: 120px;
    height: 5px;
    margin-top: 30px;
    display: inline-block;
    border-radius: 30px;
    background-color: rgb(254, 254, 254);
}

.about-heading {
    color: white;
    text-align: center;
    margin-bottom: 55px;
    display: block;
    left: auto;
    right: auto;
}

.about-section {
    padding: 5px;
    display: flex;
    justify-content: center;
    flex: 1 1;
    gap: 40px;
}

.about-name {
    margin-bottom: 30px;
}

.image {
    width: 200px;
    border-radius: 20%;
}

.about-connect-button {
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 25px;
    padding: 15px;
    width: 50%;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.about-connect-button:hover {
    background-color: #623bd9;
    color: white;
    letter-spacing: 5px;
}

.about-connect {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (max-width: 1064px) {
    .about-section {
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

@media screen and (max-width: 764px) {
    .about-section {
        padding: 5px;
        margin-left: 20px;
    }
    .about {
        padding: 50px;
        margin-bottom: 30px;
        width: 136%;
    }
}

span {
    margin: 0 15px;
    line-height: 0.9;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    animation: span 3s ease-in infinite alternate;
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @media (max-width: 600px) {
        transform: scale(0.65);
    }
}

.letter {
    display: inline-flex;
    height: 25px;
    width: 20px;
    margin-top: -5px;
    /* border: 2.5px solid #FF1EAD; */
    border: 2.35px solid #623bd9;
    border-radius: 14px;
    box-shadow: 0 0 2px rgba(64, 13, 174, 0.75), inset 0 0 2px rgb(101, 16, 181);
    animation: letter 3s ease-in-out infinite alternate;
}


/* @keyframes span {
    0%,
    30% {
        margin: 0 15px;
    }
    70%,
    100% {
        margin: 0 5px;
    }
}

@keyframes letter {
    0%,
    30% {
        width: 27px;
    }
    70%,
    100% {
        width: 30vw;
    }
} */