.exp-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.exp-section {
    background: #de6161;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2657eb, #de6161);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2657eb, #de6161);
    padding: 20px;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* .exp-container {
    max-width: 768px;
} */

.exp-button {
    font-size: 18px;
    cursor: pointer;
    margin: 0 60px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
}

.exp-button:hover {
    letter-spacing: 3px;
}

.exp-heading {
    color: white;
    text-align: center;
    margin-bottom: 55px;
    display: block;
    left: auto;
    right: auto;
    margin-top: 20px;
}

.exp-active {
    color: wheat;
}

.exp-subtitle {
    text-transform: uppercase;
    color: #1a0753;
}

.exp-title {
    color: #dce3eb;
    margin-top: 10px;
}

.exp-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.exp-content {
    display: none;
}

.exp-content-active {
    display: block;
}

.exp-data {
    display: grid;
    grid-template-columns: 3fr max-content 3fr;
    column-gap: 1.5rem;
}

.exp-rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
}

.exp-line {
    display: block;
    width: 1px;
    height: 110%;
    background-color: white;
    transform: translate(6px, -5px);
}

.exp-calender {
    color: rgb(7, 1, 43);
}

@media screen and (max-width:768px) {
    .exp-section {
        margin-left: 40px;
    }
    .exp-data {
        margin-top: 20px;
    }
    .exp-subtitle {
        text-transform: uppercase;
        color: #1a0753;
        font-size: 16px;
    }
    .exp-title {
        color: #dce3eb;
        margin-top: 10px;
    }
    .exp-calendar {
        font-size: 15px;
    }
}